In [1]:
import pandas as pd
import numpy as np

In [7]:
df_R=pd.read_pickle("R.pkl")
df_R

,0,1,2,3,4,5,6,7,8,9,...,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_R=df_R.drop(range(2000, 7000), axis=1)
df_R

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_R.to_pickle("R.pkl")

In [10]:
df_Y=pd.read_pickle("Y.pkl")
df_Y

,0,1,2,3,4,5,6,7,8,9,...,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999
0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_Y=df_Y.drop(range(2000, 7000), axis=1)
df_Y

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_Y.to_pickle("Y.pkl")

In [13]:
df_b=pd.read_pickle("b.pkl")
df_b

,0,1,2,3,4,5,6,7,8,9,...,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999
0,0.449293,0.59101,0.122468,0.197556,0.169414,0.259484,0.240063,0.08244,0.644195,0.867432,...,0.787615,0.230055,0.518409,0.745746,0.624876,0.791128,0.853006,0.867096,0.626316,0.482936

In [14]:
df_b=df_b.drop(range(2000, 7000), axis=1)
df_b

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.449293,0.59101,0.122468,0.197556,0.169414,0.259484,0.240063,0.08244,0.644195,0.867432,...,0.501844,0.195703,0.772165,0.116829,0.307885,0.553848,0.251342,0.28973,0.061888,0.382111

In [15]:
df_b.to_pickle("b.pkl")

In [16]:
df_W=pd.read_pickle("W.pkl")
df_W

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.175629,0.118714,0.171554,0.175533,0.061449,0.839413,0.552021,0.139226,0.661341,0.113509,0.087981,0.310349,0.678337,0.560935,0.740467,0.893195,0.228396,0.135130,0.363046,0.871555
1,0.173710,0.263842,0.140122,0.976772,0.012802,0.373921,0.063070,0.963231,0.856088,0.164088,0.968139,0.494510,0.956938,0.539651,0.344356,0.897474,0.924779,0.032382,0.403038,0.388553
2,0.472007,0.708465,0.096536,0.732258,0.195457,0.008314,0.437201,0.484447,0.598102,0.054441,0.470087,0.821935,0.001144,0.849530,0.214911,0.209609,0.934204,0.850652,0.494130,0.119329
3,0.535620,0.874985,0.490704,0.741731,0.609508,0.767178,0.199613,0.594683,0.329851,0.333777,0.857297,0.737588,0.895100,0.059154,0.114862,0.066300,0.034718,0.486345,0.588778,0.647245
4,0.512093,0.192178,0.098161,0.195514,0.655764,0.871637,0.257422,0.416458,0.461774,0.271415,0.437883,0.891639,0.385577,0.699697,0.283442,0.141723,0.760669,0.865285,0.524728,0.791275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.048056,0.134608,0.382864,0.115663,0.282149,0.282153,0.033799,0.590014,0.951621,0.127634,0.003770,0.627224,0.236133,0.065365,0.156414,0.145212,0.740850,0.150736,0.006029,0.284401
6996,0.941286,0.869698,0.549677,0.121846,0.778146,0.640496,0.198981,0.895113,0.172298,0.453890,0.909223,0.726242,0.414449,0.033692,0.655317,0.337191,0.468762,0.572751,0.970201,0.859874
6997,0.393552,0.075479,0.534975,0.179397,0.255691,0.455683,0.374825,0.032770,0.062332,0.284834,0.208521,0.176048,0.488847,0.808137,0.385122,0.694973,0.075736,0.521785,0.851553,0.397527
6998,0.674642,0.002714,0.171883,0.271499,0.532618,0.624957,0.296200,0.738113,0.774643,0.859568,0.857011,0.315647,0.668405,0.067698,0.973892,0.785076,0.688795,0.198577,0.820629,0.061336
6999,0.436609,0.489514,0.984777,0.631987,0.366682,0.906526,0.784308,0.505635,0.329767,0.072154,0.179742,0.196458,0.119458,0.417465,0.682076,0.319797,0.703612,0.989708,0.095411,0.775976

In [18]:
df_W=df_W.drop(range(2000, 7000))
df_W

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.175629,0.118714,0.171554,0.175533,0.061449,0.839413,0.552021,0.139226,0.661341,0.113509,0.087981,0.310349,0.678337,0.560935,0.740467,0.893195,0.228396,0.135130,0.363046,0.871555
1,0.173710,0.263842,0.140122,0.976772,0.012802,0.373921,0.063070,0.963231,0.856088,0.164088,0.968139,0.494510,0.956938,0.539651,0.344356,0.897474,0.924779,0.032382,0.403038,0.388553
2,0.472007,0.708465,0.096536,0.732258,0.195457,0.008314,0.437201,0.484447,0.598102,0.054441,0.470087,0.821935,0.001144,0.849530,0.214911,0.209609,0.934204,0.850652,0.494130,0.119329
3,0.535620,0.874985,0.490704,0.741731,0.609508,0.767178,0.199613,0.594683,0.329851,0.333777,0.857297,0.737588,0.895100,0.059154,0.114862,0.066300,0.034718,0.486345,0.588778,0.647245
4,0.512093,0.192178,0.098161,0.195514,0.655764,0.871637,0.257422,0.416458,0.461774,0.271415,0.437883,0.891639,0.385577,0.699697,0.283442,0.141723,0.760669,0.865285,0.524728,0.791275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.646122,0.056963,0.037251,0.273671,0.955064,0.937777,0.182444,0.613248,0.393585,0.795739,0.619340,0.363696,0.416699,0.337258,0.980960,0.550064,0.187600,0.437060,0.694025,0.725592
1996,0.467084,0.119078,0.401269,0.319376,0.833905,0.981121,0.175509,0.112131,0.941268,0.016243,0.780478,0.390594,0.454853,0.618955,0.041893,0.980088,0.703019,0.619987,0.552566,0.090578
1997,0.379246,0.866728,0.537745,0.632835,0.030238,0.521084,0.283392,0.772016,0.780987,0.340952,0.411015,0.154489,0.015832,0.989206,0.921876,0.204161,0.219186,0.259484,0.722605,0.878949
1998,0.474950,0.772104,0.258708,0.858574,0.755039,0.903737,0.862843,0.216989,0.675188,0.957219,0.979365,0.170658,0.199121,0.939159,0.478675,0.891704,0.783847,0.462544,0.708993,0.712586
1999,0.757932,0.475489,0.374480,0.772798,0.359438,0.516411,0.737604,0.338944,0.980546,0.786679,0.239942,0.251201,0.061946,0.583780,0.446741,0.671379,0.971512,0.993117,0.549664,0.854381

In [19]:
df_W.to_pickle("W.pkl")